In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
from sklearn.metrics import roc_curve
import statsmodels.api as sm
font_name = fm.FontProperties(fname='C:\Windows/Fonts/malgun.ttf').get_name()
plt.rc('font', family=font_name)
mpl.rcParams["axes.unicode_minus"] = False

import pymysql, math, time
from sklearn import preprocessing
import urllib

from IPython.display import Image

In [4]:
a = pd.read_excel('data/pc.xlsx')

In [5]:
a

,date,all,F,M,F10s,F30s,F40s,F20s,F19-24,F25-29,M20s,M19-24,M25-29
0,2016-01-01,1075.851665,877.997675,122.657998,248.992795,89.804491,39.524189,500.497830,370.428409,130.069421,34.808538,18.233315,16.575223
1,2016-01-02,1094.533496,931.723766,121.000462,241.878742,60.337384,49.405245,581.086937,443.948523,137.138414,26.520668,9.945445,16.575223
2,2016-01-03,1095.632223,968.483747,97.794958,261.798162,86.998102,38.112609,579.672670,429.810087,149.862583,24.863386,18.233315,6.630071
3,2016-01-04,1172.557350,1016.554546,137.575989,328.670549,92.610880,42.347348,554.222964,393.049982,161.172982,48.069357,38.124204,9.945153
4,2016-01-05,1097.830371,902.033190,149.178741,223.382132,106.642824,60.697881,508.979600,342.151442,166.828158,74.590333,56.357569,18.232764
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,2020-03-22,1126.402482,1119.765316,169.069339,320.133614,136.109931,46.582086,617.845183,431.223863,186.621320,96.138438,64.645439,31.492999
1543,2020-03-23,1117.610930,1034.934536,198.904988,251.838488,124.884376,50.816825,605.120021,402.946897,202.173124,125.974546,87.851477,38.123070
1544,2020-03-24,1192.338256,1112.696142,210.507906,233.341878,119.271598,64.932620,695.606587,500.502456,195.104131,112.713808,69.618161,43.095646
1545,2020-03-25,2007.743701,1338.911322,291.727504,224.804942,179.608982,118.572604,811.540267,561.298007,250.242260,121.001612,74.590884,46.410728
1546,2020-03-26,1854.992521,1477.468193,664.674605,335.784603,211.882478,186.328420,716.814112,514.640988,202.173124,387.868431,245.321164,142.547267

In [6]:
a.to_csv("data/pc.csv")

In [7]:
pc = pd.read_csv('data/pc.csv')

In [8]:
pc

,Unnamed: 0,date,all,F,M,F10s,F30s,F40s,F20s,F19-24,F25-29,M20s,M19-24,M25-29
0,0,2016-01-01,1075.851665,877.997675,122.657998,248.992795,89.804491,39.524189,500.497830,370.428409,130.069421,34.808538,18.233315,16.575223
1,1,2016-01-02,1094.533496,931.723766,121.000462,241.878742,60.337384,49.405245,581.086937,443.948523,137.138414,26.520668,9.945445,16.575223
2,2,2016-01-03,1095.632223,968.483747,97.794958,261.798162,86.998102,38.112609,579.672670,429.810087,149.862583,24.863386,18.233315,6.630071
3,3,2016-01-04,1172.557350,1016.554546,137.575989,328.670549,92.610880,42.347348,554.222964,393.049982,161.172982,48.069357,38.124204,9.945153
4,4,2016-01-05,1097.830371,902.033190,149.178741,223.382132,106.642824,60.697881,508.979600,342.151442,166.828158,74.590333,56.357569,18.232764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,1542,2020-03-22,1126.402482,1119.765316,169.069339,320.133614,136.109931,46.582086,617.845183,431.223863,186.621320,96.138438,64.645439,31.492999
1543,1543,2020-03-23,1117.610930,1034.934536,198.904988,251.838488,124.884376,50.816825,605.120021,402.946897,202.173124,125.974546,87.851477,38.123070
1544,1544,2020-03-24,1192.338256,1112.696142,210.507906,233.341878,119.271598,64.932620,695.606587,500.502456,195.104131,112.713808,69.618161,43.095646
1545,1545,2020-03-25,2007.743701,1338.911322,291.727504,224.804942,179.608982,118.572604,811.540267,561.298007,250.242260,121.001612,74.590884,46.410728
1546,1546,2020-03-26,1854.992521,1477.468193,664.674605,335.784603,211.882478,186.328420,716.814112,514.640988,202.173124,387.868431,245.321164,142.547267